.container {
    padding: 0 1em;
}


footer {
    font-size: 14px;
    text-align: center;
}

.note {
	border-radius: 3px;
	position: relative;
	padding-bottom: 3.3em;
	margin-bottom: 3.5em;
	-webkit-box-shadow: 1px 1px 11px 0px rgba(173,173,173,1);
    -moz-box-shadow: 1px 1px 11px 0px rgba(173,173,173,1);
    box-shadow: 1px 1px 11px 0px rgba(173,173,173,1);
}

.note h2.title {
    padding-left: .8em;
    padding-top: .4em;
    text-align: center;
}

.note h1,
.note h2,
.note h3 {
    margin: 0 0 .4em 0;
}

.note h1 {
    font-size: 6em;
}

.note h2 {
    font-size: 2.5em;
}

.note h3 {
    font-size: 2em;
}

.content {
    padding: 1em 2em 0em 2em;
}

div.hastitle {
    padding-top: 0;
}

div.larger p,
div.larger p a,
div.larger ul li {
    font-size: 30px;
}

div.hastitle p,
div.hastitle p a,
div.hastitle ul li {
    font-size: 20px;
}

.note ul {
    margin-top: 0;
}

.toolbar {
    position: absolute;
    bottom: .2em;
}

.toolbar img.icon {
    width: 40px;
}

.toolbar a  {
    margin-left: 1em;
}

.toolbar a:first-child {
    margin-left: .5em;
}

/*@media (min-width: 768px) {
    .container {
        display: flex;
        flex-flow: row wrap;
        flex-grow: 1;
    }

    .note {
        margin-left: 1em;
    }

    .note:first-child {
        margin-left: .5em;
    }
}*/

/*MODAL (POPUP) STYLES*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 8px;
}

button {
    font-size: 2em;
}

input[type=text],
input[type=password],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  line-height: 2.2em;
  font-size: 2em;
  border: 1px solid #bbb;
}

input[type=text],
input[type=password] {
  height: 2.2em;
}

textarea {
    font-family: sans-serif;
}