.container {
	display: flex;
	flex-flow: row wrap;
}

.note {
	width: 300px;
	min-height: 200px;
	/*margin-right: 2vw;*/
	/*border: red solid 4px;*/
	border-radius: 5px;
	margin: 2em;
	background-color: green;
	position: relative;
	padding-bottom: 3em;
}

.note > * {
	padding-left: 20px;
}

.note p.id {
	color: rgba(255,255,255,0.3);
	margin: 0 .8em .3em 0;
	position: absolute;
	bottom: 0;
	right: 0;
}

.toolbar {
	position: absolute;
	bottom: .5em;
}

.toolbar img.icon {
	width: 25px;
	padding-right: 10px;
}

.content {
    padding-right: 20px;
    /*font-size: 1.8em;*/
    white-space: pre-wrap;
}

.hastitle {
    font-size: 1.5em;
}


.larger {
    font-size: 2em;
}

.content ul {
    margin: 0;
}

.content p,
 .34title {
    margin-bottom: 0;
}

.colorButtons input[type="button"] {
    border: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
}

.colorText {
    display: inline;
}

textarea {
  width: 200px;
  font-family: sans-serif;
  height: 80px;
}

label[for=textarea],
textarea {
  display: inline-block;
  vertical-align: middle;

}

.pagetitle {
    display: inline;
}

#note-factory > * {
    display: inline;
    margin-right: 2em;
}

.form-factory-container {
    margin: 0 auto;
    width: 1300px;
}

.submit-container {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}
